---
import LayoutLanding from "../layouts/Layout-Landing.astro";
import Analytics from "@vercel/analytics/astro";
---

<LayoutLanding>
    <Analytics />
    <div
        class="relative text-textColor font-sans dark:text-dark-textColor min-h-screen"
        id="top"
    >
        <main class="max-w-4xl mx-auto p-4">
            <div class="text-center">
                <h1
                    class="font-serif font-black text-4xl text-primary dark:text-white mt-8 mb-4"
                >
                    Come celebrate Beuajolais Nouveau
                </h1>
                <h2 class="text-lg">with</h2>
                <h2 class="text-2xl font-black">Bourgondier Wine Club!</h2>
            </div>
            <p class="my-8">
                On November 20th come taste the whole range of Beaujolais wines:
                from blanc to village to cru, and finish off with Beaujolais
                Nouveau of course.
            </p>
            <img
                src="/beaujolais-nouveau.webp"
                alt="Beaujolais Wine"
                class="mx-auto my-8 w-4/5"
            />
            <p class="my-8">
                Learn cool things about Beaujolais: its history, terroir,
                production methods, and discover why Beaujolais is one of the
                most popular wine regions in the world, known for its fruity and
                refreshing wines.
            </p>
            <p class="my-8 text-lg">
                The tasting will take place on November 20th from 18:30 till
                20:00. <br /> Tickets: €40 per person.
            </p>
            <p class="my-8 text-lg">
                We will taste:
                <ul class="list-disc list-inside text-lg">
                    <li>
                        <b class="font-black">Beaujolais Blanc</b>, we bet you
                        didn't know that white Beaujolais exists;
                    </li>
                    <li>
                        <strong>Beaujolais Villages</strong> made from grapes from
                        different villages;
                    </li>
                    <li>
                        <strong>Beaujolais Cru</strong> from the world-renowned winemaker,
                        made from grapes from a single village, a more serious and
                        respectable wine;
                    </li>
                    <li>
                        <strong>Beaujolais Nouveau</strong>, the youngest wine
                        in the Beaujolais region, known for its fruity and
                        refreshing taste, often enjoyed on the day of release.
                    </li>
                </ul>
            </p>
            <p class="my-8">You can signup online.</p>
        </main>
    </div>
</LayoutLanding>
