---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import CallToAction from "../components/CallToAction.astro";
import Organizers from "../components/Organizers.astro";
import Tastings from "../components/Tastings.astro";
import Signup from "../components/Signup.astro";
import Navigation from "../components/Navigation.astro";
---

<Layout>
    <div
        class="relative text-textColor font-sans dark:text-dark-textColor min-h-screen"
        id="top"
    >
        <Navigation />
        <main class="max-w-4xl mx-auto p-4">
            <Header />
            <CallToAction />
            <Organizers />
            <Tastings />
            <Signup />
        </main>
    </div>
</Layout>
