<section class="mt-8">
    <div
        class="bg-gradient-to-r from-white-20 to-pink-50 dark:from-black-20 dark:to-gray-700 rounded-lg p-8 text-center"
    >
        <img
            src="/cta.webp"
            alt="Call to action image"
            class="mx-auto mb-6 max-w-md w-full h-auto rounded-lg"
        />
        <p
            class="text-md leading-relaxed text-gray-700 dark:text-gray-300 max-w-3xl mx-auto mb-8"
        >
            Наши встречи проходят каждую <b>пятницу</b> в центре Амстердама, с <b
                >18:30 до 20:00</b
            >. Мы пробуем 5-7 вин, специально подобранных под тематику вечера.
            Каждая встреча принесет новые знания, общение и новые знакомства.
            Специальная цена для членов клуба - €69/мес (4 встречи). Вы также
            можете попасть на одну встречу за €25. Ну и конечно же, часть нашего
            сообщества – чат для винного трындежа, потому что чатов не бывает
            слишком много.
        </p>
        <p class="mb-8">
            <a
                href="https://buy.stripe.com/fZudRa5RFbzybFy3Gnes000"
                class="bg-primary text-sm text-white py-3 px-4 rounded-lg hover:bg-red-700 dark:bg-dark-primary dark:hover:bg-red-500 transition-colors mb-8"
            >
                <nobr>Присоединиться к клубу за €69/месяц 🍷</nobr>
            </a>
        </p>
        <p>
            <a
                href="https://buy.stripe.com/7sY14oeobeLK39290Hes001"
                class="bg-primary text-white text-sm py-3 px-4 rounded-lg hover:bg-red-700 dark:bg-dark-primary dark:hover:bg-red-500 transition-colors"
                ><nobr>Сходить на одну встречу за €25 🍷</nobr></a
            >
        </p>
    </div>
</section>
