<header class="text-left">
    <div
        class="bg-white/20 dark:bg-black/20 backdrop-blur-sm border border-white/30 dark:border-white/10 rounded-xl p-8"
    >
        <h1 class="font-serif text-4xl text-primary dark:text-white mb-4">
            Клуб винных встреч "Bourgondier Weekly"
        </h1>
        <p class="text-sm mb-8 leading-relaxed">
            Bourgondier на нидерландском означает любителя жизни. Мы решили, что
            нет лучше слова для того, чтобы назвать еженедельный клуб любителей
            вина.
        </p>
        <p class="text-sm leading-relaxed">
            Мы хотим собрать клуб единомышленников, которым интересно вино и кто
            хочет узнавать о нем больше. Это не курсы, не мастер-классы, не
            винное образование, а повод для регулярного общения и обмена
            знаниями о том, как вино понимать, как его выбирать, как покупать и
            хранить, и как получать от него максимум удовольствия.
        </p>
    </div>
</header>
