<header class="text-left">
    <div
        class="bg-white/20 dark:bg-black/20 backdrop-blur-sm border border-white/30 dark:border-white/10 rounded-xl p-8"
    >
        <h1 class="font-serif text-4xl text-primary dark:text-white mb-4">
            Клуб винных встреч "Bourgondier Weekly"
        </h1>
        <p class="text-sm mb-8 leading-relaxed">
            Bourgondier дословно переводится с нидерландского как любитель
            жизни. В нашем же случае, это любитель вина. Не профессионал.
        </p>
        <p class="text-sm mb-8 leading-relaxed">
            Мы решили собрать клуб единомышленников, которым было бы интересно
            вино и узнавать о нем больше. Это не курсы, не мастер-классы, а
            повод для регулярного общения и обмена знаниями о том, как вино
            понимать, как его выбирать, как покупать и хранить, и как получать
            от него максимум удовольствия.
        </p>
    </div>
</header>
