<header class="text-left">
    <div
        class="bg-white/20 dark:bg-black/20 backdrop-blur-sm border border-white/30 dark:border-white/10 rounded-xl p-8"
    >
        <h1 class="font-serif text-4xl text-primary dark:text-white mb-4">
            Клуб винных встреч "Bourgondier Weekly"
        </h1>
        <p class="text-sm mb-8 leading-relaxed">
            Словом "bourgondier" в нидерландском называют любителя жизни. Мы
            решили, что нет лучше названия для еженедельного клуба любителей
            вина.
        </p>
        <p class="text-sm leading-relaxed">
            Каждую неделю мы собираем единомышленников в центре Амстердама,
            пробуем несколько бутылок вина, говорим о том, что с вином связано,
            общаемся, и вообще отлично начинаем выходные. Это не мастер-классы,
            и уж тем более не образование, а просто способ закончить неделю на
            винной ноте.
        </p>
    </div>
</header>
