<header class="text-center py-16">
    <h1 class="font-serif text-4xl text-primary dark:text-dark-primary mb-4">
        Клуб винных встреч "Bourgondier Weekly"
    </h1>
    <p class="text-md mb-8">
        Мы называем себя винными энтузиастами – нам интересно все, что касается
        вина. Поэтому мы решили собрать клуб единомышленников. Это не курсы, не
        мастер-классы, а повод для регулярного общения и обмена знаниями о том,
        как вино понимать, как его выбирать, как покупать и хранить, и как
        получать от него максимум удовольствия.
    </p>
    <a
        href="#signup"
        class="bg-primary text-white font-bold py-3 px-8 rounded-lg hover:bg-red-700 dark:bg-dark-primary dark:hover:bg-red-500 transition-colors"
        >Присоединиться к клубу</a
    >
</header>
