<header class="text-left">
    <div
        class="bg-white/20 dark:bg-black/20 backdrop-blur-sm border border-white/30 dark:border-white/10 rounded-xl p-8"
    >
        <h1 class="font-serif text-4xl text-primary dark:text-white mb-4">
            Клуб винных встреч "Bourgondier Weekly"
        </h1>
        <p class="text-sm mb-8 leading-relaxed">
            Словом "bourgondier" в нидерландском называют любителя жизни. Мы
            решили, что нет лучше названия для еженедельного клуба любителей
            вина.
        </p>
        <p class="text-sm leading-relaxed">
            Мы собираем клуб единомышленников, интересующихся вином и всем, что
            с ним связано. Это не курсы, не мастер-классы, и уж тем более не
            винное образование. Это повод для регулярного общения и обмена
            знаниями: как выбирать вино, как его понимать, где покупать и
            хранить, и как получать от него максимум удовольствия.
        </p>
    </div>
</header>
