<section id="organizers" class="py-8">
    <div
        class="bg-white/20 dark:bg-black/20 backdrop-blur-sm border border-white/30 dark:border-white/10 rounded-xl p-8"
    >
        <h2 class="font-serif text-2xl text-primary dark:text-white mb-4">
            Организаторы
        </h2>
        <div class="grid md:grid-cols-2 gap-12">
            <div class="text-left">
                <img
                    src="/AK.webp"
                    alt="Арсений"
                    class="h-96 object-cover rounded-lg mb-4"
                />
                <h3 class="font-serif text-2xl mb-2 dark:text-white">
                    Арсений
                </h3>
                <p class="text-sm leading-relaxed mb-4">
                    Как будто бы айтишник. Когда-то резидент "Мишка-бара" в
                    Петербурге. Полюбил вино лет 10 назад, уже в Амстердаме.
                    Потом любовь к вину объединилась с любовью к велосипеду –
                    как же так совпало, что те места, где классно кататься, еще
                    и важные винные регионы?
                </p>
                <p class="text-sm leading-relaxed">
                    Я знаю, что искать на аукционах, какие винные импортеры в
                    Амстердаме что возят, как обходиться без винного образования
                    и все равно получать удовольствие от вина.
                </p>
            </div>
            <div class="text-left">
                <img
                    src="/KK.webp"
                    alt="Ксения"
                    class="h-96 object-cover rounded-lg mb-4"
                />
                <h3 class="font-serif text-2xl mb-2 dark:text-white">Ксения</h3>
                <p class="text-sm leading-relaxed mb-4">
                    Специалист по сложным материям внутри головы, а в Амстердаме
                    стала еще и специалистом по тому, что у головы снаружи.
                    Знает, как сочетать любовь к вину с интересными
                    путешествиями, как безопасно попробовать за один день 50
                    вин, при этом проехав 100 км за рулем.
                </p>
                <p class="text-sm leading-relaxed">
                    Могу придумать винный pairing для чего угодно, что вы
                    собираетесь есть, найти беспроигрышный вариант в любой
                    винной карте, а еще могу поделиться гастрономическими
                    секретами.
                </p>
            </div>
        </div>
    </div>
</section>
