<section id="organizers" class="py-16">
    <div
        class="bg-white/20 dark:bg-black/20 backdrop-blur-sm border border-white/30 dark:border-white/10 rounded-xl p-8"
    >
        <div class="grid md:grid-cols-2 gap-12">
            <div class="text-left">
                <h3 class="font-serif text-2xl mb-2 dark:text-white">
                    Арсений
                </h3>
                <p class="text-sm leading-relaxed">
                    Когда-то резидент "Мишка-бар" в Петербурге полюбил вино лет
                    10 назад, уже в Амстердаме. Потом любовь к вину объединилась
                    с любовью к велосипеду – как же так совпало, что те места,
                    где классно кататься, еще и важные винные регионы?
                </p>
            </div>
            <div class="text-left">
                <h3 class="font-serif text-2xl mb-2 dark:text-white">Ксения</h3>
                <p class="text-sm leading-relaxed">
                    Коллекционер редких вин, знаток истории виноделия.
                </p>
            </div>
        </div>
    </div>
</section>
