<section id="organizers" class="py-16">
    <h2
        class="font-serif text-4xl text-primary dark:text-dark-primary border-b-2 border-primary dark:border-dark-primary pb-2 mb-8"
    >
        Кто мы
    </h2>
    <div class="grid md:grid-cols-2 gap-12">
        <div class="text-center">
            <h3 class="font-serif text-2xl mb-2">Арсений</h3>
            <p class="text-sm">
                Когда-то резидент "Мишка-бар" в Петербурге полюбил вино лет 10
                назад, уже в Амстердаме. Потом любовь к вину объединилась с
                любовью к велосипеду – как же так совпало, что те места, где
                классно кататься, еще и важные винные регионы?
            </p>
        </div>
        <div class="text-center">
            <h3 class="font-serif text-2xl mb-2">Ксения</h3>
            <p>Коллекционер редких вин, знаток истории виноделия.</p>
        </div>
    </div>
</section>
