<header class="text-left">
    <div
        class="bg-white/20 dark:bg-black/20 backdrop-blur-sm border border-white/30 dark:border-white/10 rounded-xl p-8"
    >
        <h1 class="font-serif text-4xl text-primary dark:text-white mb-4">
            Wine Tasting Club "Bourgondier Weekly"
        </h1>
        <p class="text-sm mb-8 leading-relaxed">
            The word "bourgondier" in Dutch means a lover of life. We decided
            that there's no better name for a weekly wine lovers club.
        </p>
        <p class="text-sm leading-relaxed">
            We're gathering a club of like-minded people interested in wine and
            everything related to it. This is not a professional course, neither
            a master class, and certainly not wine education. It's an
            opportunity for regular networking and knowledge sharing: how to
            choose wine, how to understand it, where to buy and store it, and
            how to enjoy it to the maximum.
        </p>
    </div>
</header>
