<section id="signup" class="py-16 text-left">
    <div
        class="bg-white/20 dark:bg-black/20 backdrop-blur-sm border border-white/30 dark:border-white/10 rounded-xl p-8"
    >
        <h2 class="font-serif text-3xl text-primary dark:text-white mb-8">
            Join Our Club
        </h2>
        <p class="text-sm mb-8 leading-relaxed">
            Leave your email address and we'll contact you to clarify the details.
        </p>
        <form class="flex justify-center gap-4">
            <input
                type="email"
                placeholder="Your email"
                class="p-3 border border-borderColor rounded-lg w-1/2 dark:bg-dark-background dark:border-dark-borderColor"
            />
            <button
                type="submit"
                class="bg-primary text-white font-bold py-3 px-8 rounded-lg hover:bg-red-700 dark:bg-dark-primary dark:hover:bg-red-500 transition-colors"
                >Submit</button
            >
        </form>
    </div>
</section>
